<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Pegawai</title>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid">
        <div class="card col-md-6 offset-3">
            <div class="card-body">
                <h3>Tambah Pegawai</h3>
                <form th:action="@{/pegawai/tambah}" th:object="${pegawai}" method="POST">
                    <input type="hidden" th:field="*{nip}">

                    <div class="mb-3">
                        <label class="col-form-label">Nama</label>
                        <input type="text" class="form-control" th:field="*{nama}">
                        <div class="invalid-feedback">
                            Mohon masukkan nama anda.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Tempat Lahir</label>
                        <input type="text" class="form-control" th:field="*{tempatLahir}">
                        <div class="invalid-feedback">
                            Mohon masukkan tempat lahir anda.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Tanggal Lahir</label>
                        <input type="date" class="form-control" th:field="*{tanggalLahir}">
                        <div class="invalid-feedback">
                            Mohon masukkan tanggal lahir anda.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Tahun Masuk</label>
                        <input type="text" class="form-control" th:field="*{tahunMasuk}">
                        <div class="invalid-feedback">
                            Mohon masukkan tahun masuk anda.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Provinsi</label>
                        <select class="form-control" id="provinsiInstansiPegawai">
                            <option value=null>Select Provinsi</option>
                            <option th:each="provinsi : ${daftarProvinsi}"
                                    th:value="${provinsi.id}"
                                    th:text="${provinsi.nama}"></option>
                        </select>
                        <div class="invalid-feedback">
                            Mohon pilih provinsi instansi anda.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Instansi</label>
                        <select th:field="*{instansi}" class="form-control" id="instansiPegawai">
                            <option value="null">Select Instansi</option>
                        </select>
                        <div class="invalid-feedback">
                            Mohon pilih instansi anda.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="jabatanPegawai" class="col-form-label">Jabatan</label>
                        <div id="listJabatan">
                            <select class="form-control mb-3" id="jabatanPegawai" name="jabatanPegawai[0].jabatan">
                                <option value=null>Select Jabatan</option>
                                <option th:each="jabatan : ${daftarJabatan}"
                                        th:value="${jabatan.id}"
                                        th:text="${jabatan.nama}"></option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <a id="add-jabatan">+ Tambah Jabatan</a>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>

<script type="application/javascript">
    $(document).ready(function () {
        var jabatanCount = 0;
        $("#provinsiInstansiPegawai").change(function () {
            var idProvinsi = $( "#provinsiInstansiPegawai" ).val();
            // alert(idProvinsi);
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "http://localhost:8080/pegawai/tambah/select-provinsi/" + idProvinsi
            }).done(function(data) {
                $( "#instansiPegawai" ).empty();
                $( "#instansiPegawai" ).append( '<option value=null>Select Instansi</option>' );
                $.each( data, function( i, instansi ) {
                    $( "#instansiPegawai" ).append('<option value=' + instansi.id + '>' + instansi.nama + '</option>');
                });
            });
        })

        $("#add-jabatan").click(function () {
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "http://localhost:8080/pegawai/tambah/tambah-row-jabatan"
            }).done(function(data) {
                jabatanCount++;
                var selectHtml = '<select class="form-control mb-3" id="jabatanPegawai" name="jabatanPegawai['+ jabatanCount +'].jabatan">\n';

                var optionsHtml = '<option value=null>Select Jabatan</option>';

                $.each( data, function( i, jabatan ) {
                    optionsHtml += '<option value=' + jabatan.id + '>' + jabatan.nama + '</option>';
                });

                var closingSelectHtml = '</select>';

                $( "#listJabatan" ).append(selectHtml + optionsHtml + closingSelectHtml);
            });
        })
    })
</script>

<style>
    #add-jabatan {
        cursor: pointer;
        color: #007bff;
    }
</style>
</html>