<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cari Pegawai</title>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
    <object th:include="fragments/fragment :: data-table" th:remove="tag"></object>

</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid">
        <div class="card col-md-10 offset-1">
            <div class="card-body">
                <h3>Cari Pegawai</h3>
                <hr>
                <form class="row" th:action="@{/pegawai/cari}">

                    <div class="form-group col-md-4">
                        <label class="col-form-label">Provinsi</label>
                        <select name="id_provinsi" class="form-control" id="provinsiInstansiPegawai">
                            <option th:value="null">Select Provinsi</option>
                            <option th:each="provinsi : ${daftarProvinsi}"
                                    th:value="${provinsi.id}"
                                    th:text="${provinsi.nama}"></option>
                        </select>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="col-form-label">Instansi</label>
                        <div id="instansiSelection">
                            <select name="id_instansi" class="form-control" disabled>
                                <option th:value="null">Select Instansi</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group col-md-4">
                        <label class="col-form-label">Jabatan</label>
                        <select name="id_jabatan" class="form-control" id="jabatanPegawai">
                            <option th:value="null">Select Jabatan</option>
                            <option th:each="jabatan : ${daftarJabatan}"
                                    th:value="${jabatan.id}"
                                    th:text="${jabatan.nama}"></option>
                        </select>
                    </div>
                    <div class="form-group col-md-1">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Cari</button>
                    </div>
                </form>
                <br>

                <table id="table_id" class="display">
                    <thead>
                        <th>NIP</th>
                        <th>Nama</th>
                        <th>Tempat Lahir</th>
                        <th>Tanggal Lahir</th>
                        <th>Tahun Masuk</th>
                        <th>Nama Instansi</th>
                        <th>Jabatan</th>
                    </thead>
                    <tr th:each="pegawai : ${daftarPegawai}">
                        <td><a th:href="@{/pegawai} + '?nip=' + ${pegawai.nip}" th:text="${pegawai.nip}"></a></td>
                        <td th:text="${pegawai.nama}"></td>
                        <td th:text="${pegawai.tempatLahir}"></td>
                        <td th:text="${pegawai.tanggalLahir}"></td>
                        <td th:text="${pegawai.tahunMasuk}"></td>
                        <td th:text="${pegawai.instansi.nama}"></td>
                        <td>
                            <ul>
                                <li th:each="jabatanRel : ${pegawai.jabatanPegawai}" th:text="${jabatanRel.jabatan.nama}"></li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
<script type="application/javascript">
    $(document).ready( function () {
        $('#table_id').DataTable();

        $("#provinsiInstansiPegawai").change(function () {
            var idProvinsi = $( "#provinsiInstansiPegawai" ).val();
            // alert(idProvinsi);
            $.ajax({
                type: "GET",
                dataType: "json",
                url: "http://localhost:8080/pegawai/tambah/select-provinsi/" + idProvinsi
            }).done(function(data) {
                $( "#instansiSelection" ).empty();
                var html = '<select name="id_instansi" class="form-control" id="instansiPegawai">\n' +
                                            '<option value>Select Instansi</option>\n';
                $.each( data, function( i, instansi ) {
                    html += '<option value=' + instansi.id + '>' + instansi.nama + '</option>';
                });
                html += '</select>';
                $( "#instansiSelection" ).append(html);
            });
        })
    } );
</script>
</html>