<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Pegawai</title>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <br>
    <div class="container-fluid">
        <div class="card col-md-6 offset-3">
            <div class="card-body">
                <h3>Tambah Jabatan</h3>
                <form th:action="@{/jabatan/tambah}" th:object="${jabatan}" method="POST">

                    <div class="mb-3">
                        <label class="col-form-label">Nama</label>
                        <input type="text" class="form-control" id="namaJabatan" th:field="*{nama}" placeholder="Sofware developer ..." required>
                        <div class="invalid-feedback">
                            Mohon masukkan nama jabatan.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Deskripsi</label>
                        <input type="text" class="form-control" id="deskripsiJabatan" th:field="*{deskripsi}" placeholder="Pengembang perangkat lunak ...">
                        <div class="invalid-feedback">
                            Mohon masukkan deskripsi jabatan.
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="col-form-label">Gaji Pokok</label>
                        <input type="text" class="form-control" id="gajiPokokJabatan" th:field="*{gajiPokok}" required>
                        <div class="invalid-feedback">
                            Mohon masukkan gaji pokok jabatan.
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>