<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>List Jabatan</title>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
    <object th:include="fragments/fragment :: data-table" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid">
        <div class="card col-md-10 offset-1">
            <div class="card-body">
                <div class="row mb-3">
                    <h3 class="col-md-4">Daftar Semua Jabatan</h3>
                    <div class="col-md-2 offset-6">
                        <a class="btn btn-primary" th:href="@{/jabatan/tambah}">+ Tambah Jabatan</a>
                    </div>
                </div>
                <hr>
                <div class="mb-3">
                    <table id="table_id" class="display">
                        <thead>
                        <th>Nama</th>
                        <th>Deskripsi</th>
                        <th>Gaji Pokok</th>
                        <th>Jumlah Pegawai</th>
                        </thead>
                        <tr th:each="jabatan : ${daftarJabatan}">
                            <td><a th:href="@{/jabatan/view} + '?id_jabatan=' + ${jabatan.id}" th:text="${jabatan.nama}"></td>
                            <td th:text="${jabatan.deskripsi}"></td>
                            <td th:text="${jabatan.gajiPokok}"></td>
                            <td th:text="${jabatan.jabatanPegawai.size()}">

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
<script type="application/javascript">
    $(document).ready( function () {
        $('#table_id').DataTable();
    } );
</script>
</html>