<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>View Jabatan</title>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <br>
    <div class="container-fluid" th:if="${failedJabatan != null}">
        <div class="alert alert-danger col-md-6 offset-3" role="alert">
            <h3>Sukses</h3>
            <p th:text="'Gagal menghapus jabatan ' + ${failedJabatan.nama} + ' karena masih terikat dengan data pegawai'"></p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="card col-md-6 offset-3">
            <div class="card-body">
                <h2>Detail Jabatan</h2>
                <table class="table">
                    <tr>
                        <td>Nama:</td>
                        <td th:text="${jabatan.nama}"></td>
                    </tr>
                    <tr>
                        <td>Deskripsi:</td>
                        <td th:text="${jabatan.deskripsi}"></td>
                    </tr>
                    <tr>
                        <td>Gaji Pokok:</td>
                        <td th:text="${jabatan.gajiPokok}"></td>
                    </tr>
                </table>

                <div class="row">
                    <form class="col-md-2" th:action="@{/jabatan/ubah}">
                        <input type="hidden" name="id_jabatan" th:value="${jabatan.id}" />
                        <button class="btn btn-default" type="submit">Ubah</button>
                    </form>

                    <form class="col-md-2" th:action="@{/jabatan/hapus}" method="post">
                        <input type="hidden" name="id_jabatan" th:value="${jabatan.id}" />
                        <button class="btn btn-default" type="submit">Hapus</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>