<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: header" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="jumbotron">
        <h1 class="display-4">Sistem Informasi Kepegawaian</h1>
        <p class="lead">Semua berawal dari pegawai</p>
        <hr class="my-4">
        <p>Temukan Pegawai</p>

        <form class="row" th:action="@{/pegawai}">
            <div class="col-md-3">
                <input placeholder="NIP" class="form-control" type="text" name="nip" required/>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Lihat</button>
            </div>
        </form>

        <hr class="my-4">

        <p>Lihat Detail Pegawai</p>
        <form class="row" th:action="@{/jabatan/view}">
            <div class="col-md-3">
                <select class="form-control" name="id_jabatan" required>
                    <option th:value="null">Select Jabatan</option>
                    <option th:each="jabatan : ${daftarJabatan}"
                            th:value="${jabatan.id}"
                            th:text="${jabatan.nama}"></option>
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Lihatt</button>
            </div>
        </form>

        <hr class="my-4">

        <p>Lihat Pegawai Tertua dan Termuda</p>
        <form class="row" th:action="@{/pegawai/termuda-tertua}">
            <div class="col-md-3">
                <select class="form-control" name="id_instansi" required>
                    <option th:value="null">Select Instansi</option>
                    <option th:each="instansi : ${daftarInstansi}"
                            th:value="${instansi.id}"
                            th:text="${instansi.nama}"></option>
                </select>
            </div>
            <div class="col-md-1">
                <button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Lihat</button>
            </div>
        </form>
    </div>
</body>
</html>